@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

body
{
    text-align: center;
    transition: background-color 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: #131517;
    background-image: 
        linear-gradient(0deg,  rgba(10, 235, 0, 0.3) 0.05px, transparent 1px),
        linear-gradient(90deg,  rgba(10, 235, 0, 0.3) 0.05px, transparent 1px);
    background-size: 30px 30px;
    font-family: Montserrat;
}